{% extends "base.html" %}


{% block content %}
    <h1>
        Demo
    </h1>

    <div hx-get="{{ url_for("state_list_results") }}"
         hx-trigger="load, keyup from:#search delay:50ms, valueChange.mdb.select from:#search-type, reload-states from:document"
         hx-include="#search, #search-type, [data-state-search]"
         hx-target="#list-results"
         hx-sync="this:replace">
    </div>

    <div class="d-flex gap-3">
        <div>
            <label for="search">
                Search
            </label>

            <input id="search"
                   name="search"
                   type="text"
                   placeholder="Filter results"
                   data-state-search>

            <script type="text/javascript">
                var searchElement = document.getElementById("search");

                searchElement.addEventListener("input", () => {
                    document.dispatchEvent(new Event("reload-states"));
                });
            </script>
        </div>

        <div>
            <select id="search-type"
                    name="search-type"
                    class="select"
                    data-state-search>
                <option value="Contain">
                     Contain
                </option>

                <option value="Start">
                     Start
                </option>

                <option value="End">
                     End
                </option>
            </select>

            <label for="search-type"
                   class="form-label select-label pt-0">
                Search Type
            </label>

            <script type="text/javascript">
                var searchTypeSelectElement = document.getElementById("search-type");
                var searchTypeSelect = new mdb.Select(searchTypeSelectElement);

                searchTypeSelectElement.addEventListener("valueChange.mdb.select", () => {
                    document.dispatchEvent(new Event("reload-states"));
                });
            </script>
        </div>
    </div>

    <ul id="list-results"></ul>
{% endblock %}
